# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Python
__pycache__
*.pyc

#exclude build and mjpg
RaspberryPi/mjpg-streamer-experimental/mjpg_streamer
RaspberryPi/mjpg-streamer-experimental/_build/*
#deb and pkg files
*.deb
_pkg/
doc/

#RaspberryPi/python/imageVIewWeb/pi-face-recognition/dataset/

RaspberryPi/python/face_recognition_web/dataset/
.vscode/

