# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Python
__pycache__
*.pyc

#exclude build and mjpg streamer
RaspberryPi/mjpg-streamer-experimental/mjpg_streamer
RaspberryPi/mjpg-streamer-experimental/_build/*
#deb and pkg files
*.deb
_pkg/
doc/

