# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Python
__pycache__
*.pyc

/Alphabot_Thor/RaspberryPi/mjpg-streamer-experimental/mjpg_streamer
/Alphabot_Thor/RaspberryPi/mjpg-streamer-experimental/_build
*.deb
_pkg/
doc/
RaspberryPi/mjpg-streamer-experimental/_build/install_manifest.txt
